PORT=5000
DATABASE_URL="file:./smartcare.db"
# For PostgreSQL in Docker:
# DATABASE_URL="postgresql://postgres:smartcare_pass@localhost:5432/smartcare_db?schema=public"
JWT_SECRET="smartcare-flow-hypersecure-jwt-secret-key-2025"
CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
